html {
  background-color: #ffffff;
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width:80ch;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

.title {
  text-align: center;
}

.blog-text{
  text-align: justify;
}

/* nav styles */

.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #970065;
}

a {
  color: #5c0040;
}


.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: #330024;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;

  &:visited {
    color: #330024;
  }
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: #b94a94;
}

.expanded {
  display: unset;
}

.gallery {
  * {
    box-sizing: border-box;
  }

  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  align-content:baseline;
  justify-content:space-evenly;
  gap: 2rem;

  div.card {
    background-color: #000000;
    border: 2px solid #ff7694;
    border-radius: 4px;
    padding: 6px;
    aspect-ratio: 1 / 1;
    width: 400px;
    height: 400px;
    display: flex;
    align-content: center;
    justify-content: center;

    img {
      max-height: 100%;
      max-width: 100%;

    }
  }
}

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

  .hamburger {
    display: none;
  }

  img.showcase {
    float: left;
    margin-right: 1rem;
  }

  img.blog-showcase {
    float: center;
    margin: 1rem;
  }

}

@media screen and (max-width: 635px) {
  img.showcase {
    width: 100%;
  }

  img.blog-showcase {
    width: 100%;
  }

}

/* DARK MODE*/

html.dark {
  background-color: #271317;
  color: #fff;
}

.dark .menu {
  background-color: #fff;
  color: #000;
}

.dark .nav-links a:hover,
.dark .nav-links a:focus {
  color: #3d042c;
}

.dark .nav-links a {
  color: #fff;
}

.dark a {
  color: #ff7688;
}

/*TAGS*/


.tags {
  display: flex;
  flex-wrap: wrap;

  a.tag {

    margin: 0.25em;
    border: dotted 1px #2e242a;
    border-radius: .5em;
    padding: .5em 1em;
    font-size: 1.15em;
    background-color: #d39eb8;
    text-decoration: none;
    font-weight: bold;
    color: #3a0020;
  }

  a.tag:hover {
    background-color: #f3fff5;
  }
}