---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
<body>
    <a href="/">Home Page</a>
    <h1>ChibiTea</h1>
    <h2>About Me</h2>

    <p>Hiiii! I'm ChibiTea (AKA Briana)! I'm a highschool homeschooled student looking to put my creations and ideas out where everyone can see them! I'm a writer, artist, and engineer (NOT a certified engineer, by the way!) I love to write in all kinds of genres, but my all-time favorite is fantasy/romance/mystery. As far as art goes, I've tried a little of everything, but my favorite is drawing anime and manga! For engineering, I've made robots and little things like wall hooks for backpacks, keys, etc. that go around the house to help with clutter! My passion, though, is in Nuclear Engineering, which is what I'm going to college for!</p>    
    
    <p>That's about it! I'll continue to update my website, so be sure to visit and share! You'll be able to buy my books and my engineering creations too! (Also, I forgot to mention, I run an Etsy Shop (ChibiTeaDesigns), so feel free stop by and have a look!:D )</p>
</body>
	</body>
</html>
