---
import { addIssueToContext } from 'astro:schema';
import BlogPost from "../components/BlogPost.astro";
import BaseLayout from '../layouts/BaseLayout.astro';
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const pageTitle = "My Blog";
---

<BaseLayout pageTitle={pageTitle}>
	<h2>Non-School Blog!</h2>
  		<p>This is where I will post my tutorials and blog articles that aren't related to school! :)</p>
  		<ul>	
		  {allPosts
		  .filter((post:any)=>!post.frontmatter.schoolRelated)
		  .map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
		</ul>
</BaseLayout>
