---
import { addIssueToContext } from 'astro:schema';
import BlogPost from "../components/BlogPost.astro";
import BaseLayout from '../layouts/BaseLayout.astro';
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const pageTitle = "Books";
---

<BaseLayout pageTitle={pageTitle}>
  	<p>Below are some of my books, both published and in the works.</p>
  		<ul>	
		  {allPosts
		  .filter((post:any)=>!post.frontmatter.schoolRelated && post.frontmatter.Book)
		  .map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
		</ul>
</BaseLayout>
