---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home";
---
<BaseLayout pageTitle={pageTitle}>
  <img src="/assets/OceanBG.webp" width=100% alt="ChibiTea Home Pic" />

  <h2 class = "title">Welcome to ChibiTea!</h2>
  <h3 class = "lower-title">A No BS Approach to Improving Your Lifestyle</h3>

  <p class = "home-intro">
    Hi there! If you're looking for a blog that offers completely honest and straightforward advice on how to improve your lifestyle,
    you've come to the right place! Here, I'll post articles on a variety of topics, including studying, food, books that I've written,
    and quality of life.
  </p>
  <p class = "home-intro">
    I'll write (my opinions, at least) on how to romanticize your life without sacrificing your bank account and your personality, because living your
    dream aesthetic shouldn't have to change who you are, and self care shouldn't cost more than an apartment.
  </p>
  <p class = "home-intro">
    So, if this sounds like your thing, welcome!
  </p>

</BaseLayout>