---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import '../styles/global.css';
const pageTitle = "Projects";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<Header />
		<h1>Projects Index</h1>
        
        <p>This is where I will post about my projects that I do for school! :)</p>
        
        <li><a href="/posts/microscopeproject-post/">Microscope Camera Mount Project</a></li>
        <li><a href="/posts/worldMap-post/">World History Map Project</a></li>
        <Footer />

		<script>
    		import "../scripts/menu.js";
  		</script>
	</body>
</html>
