---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "School Blog";
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
---

<BaseLayout pageTitle={pageTitle}>
  <h2>School Blog!</h2>
  	<p>This is where I will post my school-related projects! :)</p>
  	<ul>
		{allPosts
		  .filter((post:any)=>!post.frontmatter.schoolRelated)
		  .map((post: any) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
	</ul>
</BaseLayout>